.page{text-align: center;
border-top: solid;
padding: 30px;
margin-top: 30px;
font-size: 15px;
font-family: 'Roboto', sans-serif;}

.header {
   
        display: flex;
        flex-direction: column;
        align-items: center;
    
}

.nom_compte {font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#logo {
    border: solid 3px;
    height: 200px;
    width: 200px;
    margin: 30px;
}

.footer {
    border-top: solid;
    text-align: center;
    margin-top: 15px;
    padding: 50px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.connexion,
.inscription {
    text-align: center;
    font-size: 25px;
    
}

fieldset {
    border: solid;
    margin: auto;
    text-align: center;
    width: 400px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

legend {
    border: solid;
    vertical-align: middle;
}

label {
    font-size: 20px;
}

input {font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    font-size: 15px;
}
@media screen and (max-width: 760px)

/*Resposive Téléphone*/
    {.header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nom_compte {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    fieldset {
        border: solid;
        text-align: center;
        margin: auto;
        width: 150px;
        font-size: 20px;
    }

    .inscription,
    .connexion {
        font-size: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}