
.gbaf {
    border-top: solid 3px;
    border-bottom: solid 3px;
    margin-top: 20px;
    padding-left: 20px;
}

.partenaires{
    padding-left: 20px;
}

#logo {
    border: solid 3px;
    height: 100px;
    width: 100px;
    margin: 30px;
}

.conteneur {
    border: solid 3px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.acteur_btn{
    margin: -10px;
    float: right;
    border-radius: 5px;
}

.element
 {
    border: solid 3px;
    margin: 20px;
    padding: 20px;
    display: block;

}

.img1 {
    margin-top: 10px;
    margin-right: 5px;
}

.acteurtxt {
   display: block;
}

img {
    border: solid 3px;
    width: 150px;
    height: 60px;
}


.element2 {
    border: solid 3px;
    margin: 30px;
    padding: 20px;

}

.button1 {
    position: relative;
    bottom: 15px;
    border-radius: 5px;
}

h2,
p,
ul {
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nom_compte {
    margin-top: 40px;
}


.divimg2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_acteur {
    margin-top: 50px;
    width: 300px;
    height: 130px;
}

.acteurtxt2 {
    margin-top: 50px;
}

.comments {
    border: solid;
    display: block;
    font-size: 20px;
    margin: 30px;
    padding: 20px;
}

.comments_section {
    border: solid 2px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.groupe_btn{
    position: relative;
    bottom: 30px;
    float: right;
    font-size: 15px;
}


textarea{
    width: 400px;
}

.footer {
    border-top: solid;
    text-align: center;
    margin-top: 15px;
    padding: 50px;
    font-size: 15px;
} .button1{margin: 10px;}

.like_btn,
.dislike_btn,
.comments-btn{
    text-decoration: none;
    color: black;
    float: right;
    align-items: baseline;
    margin: 2px;


}

.afficher_commentaire {
    border-radius: 5px;
    border: solid 2px;
    margin: 20px;
    padding: 20px;
    display: block;

}

@media screen and (max-width: 760px){

/*Resposive Téléphone*/
    
 .acteur_btn{margin-right: 5px;}   

        
    .conteneur {
        margin-left: 10px;
        margin-right: 10px;

    }
.element {
        margin: 10px;
        padding: 5px;
        height: 200px;
        white-space: nowrap;
        overflow: hidden;
    text-overflow: ellipsis;
    }

    .img1 {
        width: 280px;;
        border: solid 3px;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        white-space: nowrap;;
    }

    .divimg1 {
        justify-content: center;
        display: flex;
        float: none;
    }

    .button1 {
        position: relative;
        bottom: 22px;
    }


    .element2 {
        margin: 10px;
        padding: 5px;
    }

    p,ul {
        padding-bottom: 10px;
        text-align: center;
    }

    h3 {
        text-align: left;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new_comment_btn{
        right: -10px;
    }

    .like-btn{
        bottom: 40px;
    }

    .dislike-btn{
        bottom: 40px;
    }
    
    .comments{
        margin: 10px;
    }

}

@media screen and (min-width:768px) and (max-width:1023px)

/*Responsive Tablette*/
    {
    
        .divimg1 {
            float: left;
        }
    h1,
    h2 {
        text-align: left;
    }

    p, ul {
      padding-left: 30px;
    }

    .img1{margin-top: 20px;}

    main {
        border-bottom: solid;
    }

    .footer {
        margin-top: 50px;
        font-size: 20px;
    }

   
    .gbaf{
        margin-top: 0px
    }

}



@media screen and (min-width:1024px) and (max-width:2000px)

/*Responsive PC*/
    {

    h1,
    h2,
    p {
        text-align: left;
    }
    .divimg1 {
        float: left;
    }
}